/* reset start*/

* {
    box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before,
q:after {
    content: â€;
}

abbr,
acronym {
    border: 0;
}

html,
body {
    font: 10px/1.5 "Comic Sans MS", Helvetica, Arial, sans-serif;
}

/* reset end*/

/* public start */

h1 {
    font-size: 6.2rem;
}

h2 {
    font-size: 4.2rem;
}

h4 {
    font-size: 2rem;
}

.section-desc-text {
    font-size: 2rem;
    margin: 100px 0;
    color: #d0d0cf;
}

.normal-text {
    font-size: 1.6rem;
    color: #797979;
}

.size-container {
    width: 1040px;
    margin: 0 auto;
}

/* public end */

/* section-first start */

#section-first {
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background: url(../img/Background.jpg) no-repeat;
    background-size: cover;
}

#account-form {
    padding: 50px 100px;
    border: 1px solid #615c4a;
    border-radius: 4px;
}

#account-form h2 {
    font-size: 1.6rem;
}

#account-form p {
    font-size: 1.2rem;
    margin: 20px 0 46px 0;
    color: #83807b;
}

#account-form input {
    margin-right: 30px;
    border-radius: 4px;
}

#account-form input[placeholder] {
    width: 290px;
    height: 50px;
    line-height: 48px;
    padding: 0 20px;
    color: #fff;
    background: transparent;
    border: 1px solid #615c4a;
}

#account-form input[type="button"] {
    width: 120px;
    height: 50px;
    border: 3px solid #fff;
    background: #fff;
    cursor: pointer;
    transition: color 1s, background 1s
}

#account-form input[type="button"]:hover {
    color: #fff;
    background: #141414;
}

/* section-first end */

/* section-second start */

#section-second {
    padding-top: 90px;
    text-align: center;
}

#section-second h2 {
    font-size: 1.4rem;
}

#section-second em {
    display: block;
    font-size: 4.2rem;
    margin: 40px 0 90px 0;
}

#featrue-list {
    text-align: left;
}

#featrue-list li {
    display: inline-block;
    max-width: 370px;
    padding-left: 76px;
    margin-right: 150px;
    margin-bottom: 90px;
    vertical-align: top;
    background-repeat: no-repeat;
}

#featrue-list li:nth-child(1) {
    background-image: url(../img/Iphone-Icon.png);
    background-position: 26px top;
}

#featrue-list li:nth-child(2) {
    margin-right: 0;
    background-image: url(../img/Check-Icon.png);
    background-position: 16px top;
}

#featrue-list li:nth-child(3) {
    background-image: url(../img/Pencil-Icon.png);
    background-position: 5px top;
}

#featrue-list li:nth-child(4) {
    margin-right: 0;
    background-image: url(../img/Settings-Icon.png);
}

#featrue-list h4 {
    margin-top: -8px;
    margin-bottom: 26px;
}

/* section-second end */

/* section-third start */

#section-third {
    position: relative;
    min-height: 800px;
    padding: 90px 0;
    color: #fff;
    background: url(../img/Background2.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

#section-third .content {
    position: absolute;
    right: 780px;
    left: 50%;
    margin-left: -520px;
}

#section-third .section-desc-text {
    font-size: 1.8rem;
}

#section-third button {
    width: 240px;
    height: 60px;
    margin-right: 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1s, border-color 1s;
}

#section-third button[name="try-product"] {
    margin-right: 0;
    color: #fff;
    background-color: transparent;
    border-color: #6e746f;
}

#section-third button[name="try-product"]:hover {
    background-color: #000;
    border-color: #fff;
}

#section-third button[name="check-out"]:hover {
    color: #fff;
    background-color: #141414;
}

#ipad-show {
    position: absolute;
    top: 90px;
    right: 0;
    width: 644px;
    height: 600px;
    padding: 30px 0 30px 60px;
    border: 1px solid #5a5f5f;
    border-radius: 20px 0 0 20px;
}

#ipad-screen {
    background: url(../img/screen.jpg) no-repeat;
}

#ipad-button {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border: 1px solid #5a5f5f;
    border-radius: 50%;
}

/* section-third end */

/* section-fourth start */

#section-fourth {
    padding: 90px 0;
    text-align: center;
}

#product-list1 {
    display: flex;
    margin: 90px 0 250px 0;
}

#product-list1 li {
    flex: 1 1 auto;
    margin-right: 90px;
}

#product-list1 li:last-child {
    margin-right: 0;
}

#product-list1 h4 {
    height: 36px;
    margin-bottom: 50px;
}

#product-list1 li:nth-child(1) h4 {
    background: url(../img/Singleton.png) no-repeat center;
}

#product-list1 li:nth-child(2) h4 {
    background: url(../img/Hero.png) no-repeat center;
}

#product-list1 li:nth-child(3) h4 {
    background: url(../img/Portland.png) no-repeat center;
}

#product-list1 span {
    visibility: hidden;
}

#product-list2 {
    text-align: left;
}

#product-list2 li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#product-list2 li:last-child {
    margin-bottom: 0;
}

#product-list2 li:nth-child(even) {
    flex-direction: row-reverse;
}

#product-list2 li:nth-child(odd) {
    flex-direction: row;
}

#product-list2 h4 {
    margin-bottom: 30px;
}

#product-list2 li img {
    flex: 0 0 570px;
}

#product-list2 li:nth-child(even) img {
    margin-left: 50px;
}

#product-list2 li:nth-child(odd) img {
    margin-right: 50px;
}

/* section-fourth end */

/* section-fifth start */

#section-fifth {
    padding: 90px 0;
    text-align: center;
}

#section-fifth .section-desc-text {
    margin-top: 36px;
    color: #797979;
}

#crew-list {
    display: flex;
    flex-wrap: wrap;
}

#crew-list>li {
    flex: 1 1 auto;
    margin-right: 30px;
    margin-bottom: 30px;
}

#crew-list>li:nth-child(even) {
    margin-right: 0;
}

#crew-list .crew-item {
    position: relative;
    cursor: pointer;
    transition: display 1s;
}

#crew-list .crew-item:hover .mask,
#crew-list .crew-item:hover .mask-content {
    display: block;
}

#crew-list .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    display: none;
    transition: display 1s;
}

#crew-list .mask-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 110px 0 90px 0;
    color: #fff;
    text-align: center;
    display: none;
    transition: display 1s;
}

#crew-list .mask-content h4 {
    font-size: 2rem;
}

#crew-list .mask-content p {
    margin: 20px 0 40px 0;
    font-size: 1.2rem;
    color: #adadad;
}

#crew-list .contact-list {
    display: flex;
    justify-content: center;
}

#crew-list .contact-list li {
    flex: 0 0 50px;
    width: 50px;
    height: 55px;
    margin-right: 30px;
    text-align: center;
    border: 1px solid #adadad;
    border-radius: 50%;
}

#crew-list .contact-list a {
    width: 100%;
    height: 100%;
    line-height: 55px;
    color: #fff;
    vertical-align: top;
    text-decoration: none;
    transition: transform 1s;
}

#crew-list .contact-list a:hover {
    transform: scale(2, 2)
}

/* section-fifth end */

/* section-sixth start */

#section-sixth {
    padding: 100px 0 130px 0;
}

#section-sixth .size-container {
    display: flex;
    justify-content: space-between;
}

#section-sixth .flex-item {
    flex: 1 1 auto;
}

#message-form {
    text-align: center;
    margin-right: 170px;
}

#message-form h4 {
    margin-bottom: 50px;
    font-size: 1.6rem;
}

#message-form input,
#message-form textarea {
    width: 370px;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 30px;
    border: 1px solid #d4d3d3;
    border-radius: 4px;
}

#message-form textarea {
    height: 144px;
    padding-top: 20px;
    padding-bottom: 20px;
    resize: none;
}

#message-form input[type="button"] {
    color: #fff;
    background: #141414;
    border-color: #141414;
    cursor: pointer;
}

#contact .section-desc-text {
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 1.6rem;
    color: #7d7d7d;
}

#company-contact-list {
    font-size: 1.6rem;
}

#company-contact-list li {
    margin-bottom: 40px;
    padding-left: 40px;
}

#company-contact-list .fa {
    width: 40px;
    margin-left: -40px;
    font-size: 2.8rem;
    color: #9c9c9c;
    vertical-align: middle;
}

/* section-sixth end */

/* footer start */

#footer {
    padding: 90px 0 120px 0;
    font-size: 1.6rem;
    color: #676767;
    background: #141414;
}

#footer .size-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

#footer dl {
    flex: 1 1 auto;
    max-width: 270px;
}

#footer dt {
    font-size: 1.4rem;
    color: #fff;
}

#footer dd {
    margin-top: 40px;
}

#footer .section-desc-text {
    font-size: 1.6rem;
    color: #919191;
}

#footer .contact-list {
    display: flex;
    color: #5b5b5b;
}

#footer .contact-list li {
    flex: 1 1 auto;
}

#footer .fa {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 1s;
}

#footer .fa:hover {
    transform: scale(2, 2)
}

/* footer end */